:local(.content){
    width: 60%;
    align-self: center;
}



:local(.course_result){
    color: #fff;
    margin: 0.5em;

    border-radius: 0.2rem;
    text-align: center;
    line-height: 2em;
}

:local(.online_result){
    composes: course_result;
    background-color: #21d085!important;
}

:local(.classroom_result){
    composes: course_result;
    background-color: #2185d0!important;
}