:local(.courses){
    position: relative;
    display: flex;
    flex-flow: column wrap;
    margin: 1em 0;
    border-radius:  0.5rem;
    background-color: #f8ffff;
    box-shadow: 0 0 0 2px #a9d5de inset, 0 0 0 0 transparent;
    min-height: 5em;
}


:local(.courses:empty::after) {
    content: 'Selecione pelo menos um curso';
    color: #276f8660;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2ch;
}

:local(.course_item){
    color: #fff;
    margin: 0.5em;
    background-color: #2185d0!important;
    border-color: #2185d0!important;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 2em;
}

:local(.couse_item_close){
    position: absolute;
    right: 1em;
    color: #fff;
}

:local(.couse_item_close::after){
    content: '✖';
}